<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>IIRY Proof</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>de.ndurner.iiry.proof</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeName</key>
      <string>JPEG Image</string>
      <key>LSHandlerRank</key>
      <string>Alternate</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>public.jpeg</string>
      </array>
    </dict>
  </array>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>de.ndurner.iiry</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>iiry</string>
      </array>
    </dict>
  </array>
  <key>LSSupportsOpeningDocumentsInPlace</key>
  <true/>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>IIRY saves a verification receipt image when you ask it to keep a record.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>IIRY imports screenshots you select for identity-signal verification.</string>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>de.ndurner.iiry.proof</string>
      <key>UTTypeDescription</key>
      <string>IIRY Proof</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.json</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>iiry</string>
        </array>
        <key>public.mime-type</key>
        <string>application/vnd.io.github.ndurner.iiry.proof+json</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
